<button
  mat-raised-button
  [color]="color"
  type="button"
  [disabled]="disabled || loading"
 >
  <ng-content *ngIf="!loading"></ng-content>
  <mat-spinner
    *ngIf="loading"
    class="in-button-spinner"
    [diameter]="22"
    [strokeWidth]="2"
  ></mat-spinner>
</button>
