.user-avatar
  width: 100% 
  height: 100% 
  border-radius: 160px

  &__image, &__initials
    border-radius: 160px
    width: 100% 
    height: 100% 

  &__initials 
    display: flex
    justify-content: center
    align-items: center
    color: #ffffff;
