<div
  *ngIf="user"
  class="user-avatar"
  [style.background-color]="userAvatar.avatarImageToken ? null : userAvatar.backgroundColor"
>
  <img
    *ngIf="userAvatar.avatarImageToken"
    class="user-avatar__image"
    avatar
    [thumbnailSize]="thumbnailSize"
    [username]="userAvatar.username"
    [token]="userAvatar.avatarImageToken"
    [title]="userAvatar.name"
  >
  <div *ngIf="!userAvatar.avatarImageToken"
        class="user-avatar__initials"
        [title]="user.name">
    <svg viewBox="0 0 50 50">
      <text
        dominant-baseline="middle"
        text-anchor="middle"
        x="50%"
        y="52%"
        fill="white"
      >
        {{ userAvatar.initials }}
      </text>
    </svg>
  </div>
</div>
<div *ngIf="!user" class="user-avatar">
  <img mat-list-avatar avatar [thumbnailSize]="thumbnailSize">
</div>