@import "variables"

.bold
  font-weight: bold

.container
  width: 100%
  margin-left: auto
  margin-right: auto

  @media only screen and (min-width: $md)
    width: 720px

  @media only screen and (min-width: $lg)
    width: 960px

  @media only screen and (min-width: $xl)
    width: 1140px

  @media only screen and (min-width: $xxl)
    width: 1320px

.center
  text-align: center

.cursor-pointer
  cursor: pointer;

.thick-border-primary
  border: 3px solid $primary-color

.meditated-recently
  .user-avatar
    border: 3px solid $primary-color
