<div class="feedback-form">
  <form *ngIf="!submitted" [formGroup]="feedbackForm">
    <h3 class="feedback-form__heading">Feedback Form</h3>
    <p>We would love to hear your thoughts, suggestions, or concerns with the Meditation+ app so we can improve!</p>
    <p class="feedback-form__bugs">(For bugs in the app, please send us an email at <a href="mailto:app-issues@sirimangalo.org">app-issues@sirimangalo.org</a>)</p>
    <mat-form-field class="feedback-form__textarea">
      <mat-label>Describe your feedback:</mat-label>
      <textarea
        matInput
        formControlName="text"
        placeholder="Type Here..."
        maxlength="1000"
      ></textarea>
    </mat-form-field>
    <br>
    <div class="bold">Rate your expierence:</div>
    <div class="feedback-form__rating">
      <mat-icon
        *ngFor="let rating of [1,2,3,4,5]"
        class="feedback-form__star"
        [ngClass]="{ 'feedback-form__star--filled': rating <= feedbackForm.get('rating').value }"
        (click)="feedbackForm.get('rating').setValue(rating)"
      >
        {{ rating  <= feedbackForm.get('rating').value ? 'star' : 'star_outline'}}
      </mat-icon>
    </div>
    <div class="feedback-form__device">
      <label class="bold">Device used for Meditation+:</label>
      <mat-radio-group formControlName="device">
        <mat-radio-button value="mobile">Mobile Phone</mat-radio-button>
        <mat-radio-button value="tablet">Tablet</mat-radio-button>
        <mat-radio-button value="desktop">Desktop</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="feedback-form__anonymous">
      <mat-checkbox formControlName="anonymous">Submit the feedback anonymously</mat-checkbox>
    </div>
    <div class="feedback-form__action-btns">
      <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
      <async-button
        [color]="'primary'"
        [loading]="isSaving"
        (click)="submit()"
      >Submit</async-button>
    </div>
  </form>
  <div *ngIf="submitted">
    <h3 class="feedback-form__heading">Your feedback has been successfully submitted. Thank you!</h3>
    <button mat-raised-button color="primary" (click)="dialogRef.close()">Continue</button>
  </div>
</div>