@import 'variables'

.feedback-form
  &__textarea
    width: 100%

    textarea
      height: 70px
      resize: none

      @media screen and (min-width: $md)
        height: 125px

  &__action-btns
    display: flex
    justify-content: flex-end

  &__anonymous
    margin-bottom: 16px

  &__device
    display: flex
    flex-direction: column

    label
      margin-bottom: 16px

    mat-radio-group
      display: flex
      flex-wrap: wrap

    mat-radio-button
      margin-right: 24px
      margin-bottom: 16px

  &__heading
    margin-top: 0
    margin-bottom: 0

  p
    margin-top: 0
    margin-bottom: 0
    font-size: 12px

    @media only screen and (min-width: $md)
      font-size: 16px

  &__bugs
    position: relative
    top: 4px

  $star-size = 36px

  &__rating
    height: $star-size
    margin-top: 16px
    margin-bottom: 16px

  &__star
    cursor: pointer
    font-size: $star-size
    height: $star-size
    margin-right: 24px

    &--filled
      color: $primary-color
    
