mat-card.nopadding
  padding: 0

.no-shrink
  flex-shrink: 0

mat-card-title
  display: flex

.like-button
  width: 34px
  height: 34px
  font-size: 13px
  line-height: 13px
  margin-right: 10px

mat-card-title.padding
  margin-left: 10px

.left-hand
  margin-left: 2px
  margin-right: -1px

.right-hand
  margin-right: 2px
  margin-left: -1px

.like-button img
  height: 18px

mat-card-title
  margin-top: 10px
  font-size: 17px
  margin-bottom: 5px

[mat-mini-fab]
  min-width: 40px

mat-list
  padding-top: 0

.chart-wrapper
  text-align: center

.meditations-container
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.meditation-input
  margin-right: 10px

.meditation-row
  position: relative
  line-height: 1.20

mat-list .meditation-row:last-child mat-divider
  display: none

.commitment
  padding: 20px 10px 10px 10px
  float: left

form > mat-form-field
  min-width: 0

.inline
  display: inline-block

.commitment-percent
  vertical-align: top
  margin-left: 10px

.commitment-name
  vertical-align: top
  margin-left: 10px
  opacity: 0.6

.start-session-wrapper
  position: relative

  .start-session-btn
    position: absolute
    right: 10px
    bottom: 10px;
    padding: 25px
    border-radius: 50px
    background: rgba(47, 189, 252, 0.37)
