.own-appointment
  background: #009688
  border: 1px solid #000

.appointment-table
  border-collapse: collapse

  th, a
    padding: 10px
    text-align: center
    margin-bottom: 5px

  th:first-child
    padding-left: 0

  a
    text-decoration: none
    display: block
    color: white

  .taken-appointment
    background: #f2dede
    color: black
    border: 1px solid #000

  .free-appointment
    background: #fcf8e3
    color: black
    border: 1px solid #000

  .admin-appointment
    cursor: pointer

  .admin-appointment:hover
    background: #d9534f

  .mild-highlight
    background: #f8f8ff
    font-weight: bold

  .time-column
    font-size: 0.9rem
    text-align: right
    padding: 15px

  .header-row
    border-bottom: 3px solid #000

.warnings
  border: 5px solid orange
  padding: 20px

  h3
    margin-top: 0;

@media screen and (max-width: 800px)
  .appointment-table
    display: none

  .appointment-list
    display: block

.appointment-taken
  display: inline-block

.appointment-row
  mat-icon
    cursor: pointer
    color: red

.ongoing-appointment
  border: 4px solid #d48536
  padding: 15px

  p
    font-size: 1.2em

  h3
    margin-top: 0
    display: flex
    align-items: center

    mat-icon
      margin-right: 10px

  button
    margin-left: 8px

@media screen and (min-width: 1000px)
  .appointment-table
    th, a
      padding: 15px
      margin: 5px

  .appointment-username
    display: inline-block

  .appointment-taken
    display: none
hr
  margin: 30px 0;
