<div *ngIf="!(ownAppointmentStatus$ | async) || !(ownAppointmentStatus$ | async).isActive">
    <!-- Timezone Warnings -->
    <div *ngIf="(warnings$ | async) && (warnings$ | async).length > 0" class="warnings">
      <h3>Your appointment time will change!</h3>
      <p>Due to the switching from daylight saving to standard time in your teacher's town and differences with your timezone, your appointment time will shift soon (usually by one hour) to:</p>
      <ul>
        <li *ngFor="let warning of (warnings$ | async)">{{ warning }}</li>
      </ul>
      <p>Please make sure to check your appointment time in the schedule below in advance if you see this warning.</p>
    </div>

    <!-- Basic Information -->
    <div>
      <p>To set up an appointment:</p>
      <ul>
        <li>
          Choose a teacher using the dropdown below.
        </li>
        <li *ngIf="!(ownAppointment$ | async)">
          Click on a box in the table, corresponding to a time convenient for you.
        </li>
        <li *ngIf="(ownAppointment$ | async) && ownAppointmentCountdown">
          Your next appointment <b>{{ ownAppointmentCountdown }}</b>.
        </li>
        <li>
          The table shows appointments in your
          {{ profile && profile.timezone === (localTimezone$ | async) ? 'profile' : 'browser' }}'s timezone: <b>{{ localTimezone$ | async }}</b>.
        </li>
        <li>
          You will meet the teacher at this time every week. You may change the time later on as needed.
        </li>
        <li *ngIf="(ownAppointment$ | async)">
          You can remove your appointment by clicking on the slot with your name in the table view or the trash icon in the list view.
        </li>
      </ul>
      <p><b>Please note:</b> The mobile Discord app does not work properly for the calls. Please try to only use a desktop client.</p>
    </div>
</div>

<!-- Live Call Instructions -->
<div
  *ngIf="(ownAppointmentStatus$ | async) && (ownAppointmentStatus$ | async).isActive"
  class="ongoing-appointment"
>
  <h3>
    <mat-icon>call</mat-icon>
    Your appointment is scheduled for now.
  </h3>
  <p>
    Please join the appointment call as instructed.
  </p>
</div>

<hr>

<div
  *ngIf="(loadingInitially$ | async)"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!(loadingInitially$ | async)">
  <!-- Teacher Select -->
  <div *ngIf="(allTeachers$ | async) && (allTeachers$ | async).length > 0">
    <mat-form-field appearance="fill">
      <mat-label>Choose Teacher</mat-label>
      <mat-select
        [value]="(selectedTeacher$ | async) ? (selectedTeacher$ | async)._id : ''"
        (selectionChange)="selectTeacher($event)"
      >
        <mat-option *ngFor="let teacher of allTeachers$ | async" [value]="teacher._id">
          {{ teacher.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="!(appointmentsLocalHours$ | async) || (appointmentsLocalHours$ | async).length === 0">
    <h4 *ngIf="selectedTeacher$ | async">There are no slots for this teacher yet.</h4>
    <h4 *ngIf="!(selectedTeacher$ | async)">Please select a teacher.</h4>
  </div>

  <div *ngIf="(appointmentsLocalHours$ | async) && (appointmentsLocalHours$ | async).length > 0">

    <!-- Schedule Table (desktop) -->
    <div *ngIf="currentTableView === 'table'">
      <table class="appointment-table">
        <tr class="header-row">
          <th>UTC</th>
          <th class="mild-highlight">Your Time</th>
          <th>Mo</th>
          <th>Tu</th>
          <th>We</th>
          <th>Th</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>Su</th>
        </tr>
        <tr *ngFor="let localHour of (appointmentsLocalHours$ | async)">
          <td class="time-column">
            {{ getUtcHour((appointmentsByLocalHour$ | async)[localHour][0]) }}
          </td>
          <td class="mild-highlight time-column">
            {{ localHour }}
          </td>
          <td *ngFor="let day of [1, 2, 3, 4, 5, 6, 0]">
            <span *ngFor="let app of (appointmentsByLocalHour$ | async)[localHour]">
              <span
                *ngIf="app.localDay === day"
                [title]="app.localHour"
              >
                <a href="#"
                  *ngIf="app.user && app.user.hidden"
                  class="taken-appointment"
                  (click)="removeRegistration($event, app)"
                >
                  <span>taken</span>
                </a>
                <a href="#"
                  *ngIf="app.user && !app.user.hidden && !(teacher$ | async)"
                  [class.own-appointment]="app.user._id === (userId$ | async)"
                  class="taken-appointment"
                  (click)="toggleRegistration($event, app)"
                >
                  <span class="appointment-username">{{ app.user.name }}</span>
                </a>
                <a href="#"
                  *ngIf="app.user && !app.user.hidden && (teacher$ | async)"
                  class="taken-appointment admin-appointment"
                  (click)="removeRegistration($event, app)"
                >
                  <span class="appointment-username">{{ app.user.name }}</span>
                </a>
                <a href="#"
                  *ngIf="!app.user"
                  class="free-appointment"
                  (click)="toggleRegistration($event, app)"
                >
                  free
                </a>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>

    <!-- Schedule List (mobile) -->
    <div *ngIf="currentTableView === 'list'">
      <mat-list class="appointment-list">
        <div>
          <mat-checkbox [(ngModel)]="hideFreeSlots">
            Hide free slots
          </mat-checkbox>
        </div>
        <div *ngFor="let day of [1, 2, 3, 4, 5, 6, 0]">
          <div *ngIf="(appointmentsByLocalDay$ | async)[day]">
            <h4>
              {{ weekdays[day] }}
            </h4>
            <div *ngFor="let app of (appointmentsByLocalDay$ | async)[day]">

              <!-- appointment with user -->
              <mat-list-item class="appointment-row" *ngIf="app.user && app.user.hidden">
                <img mat-list-avatar avatar [username]="null" [token]="null" thumbnailSize="sm">
                <h3 mat-line>
                  <b>Taken</b>
                </h3>
                <p mat-line>
                  <b>{{ app.localHour }}</b>
                </p>
                <p mat-line>
                  {{ getUtcHour(app) }}
                </p>
              </mat-list-item>

              <mat-list-item class="appointment-row" *ngIf="app.user && !app.user.hidden">
              <user-avatar
                [routerLink]="app.user.username ? ['/profile', app.user.username] : ['/profile/id', app.user._id]"
                mat-list-avatar
                meditated-recently
                [user]="app.user"
                thumbnailSize="sm"
              ></user-avatar>
                <h3 mat-line>
                  <b><a [routerLink]="app.user.username ? ['/profile', app.user.username] : ['/profile/id', app.user._id]">{{ app.user.name }}</a></b>
                </h3>
                <p mat-line>
                  <b>{{ app.localHour }}</b>
                </p>
                <p mat-line>
                  {{ getUtcHour(app) }}
                </p>
                <mat-icon *ngIf="(teacher$ | async)" (click)="removeRegistration($event, app)">delete</mat-icon>
                <mat-icon *ngIf="!(teacher$ | async) && app.user._id === (userId$ | async)" (click)="toggleRegistration($event, app)">delete</mat-icon>
              </mat-list-item>

              <!-- appointment without user -->
              <mat-list-item class="appointment-row" *ngIf="!hideFreeSlots && !app.user">
                <p mat-line>
                  <b>{{ app.localHour }}</b>
                </p>
                <p mat-line>
                  {{ getUtcHour(app) }}
                </p>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="toggleRegistration($event, app)"
                >
                  BOOK
                </button>
              </mat-list-item>
            </div>
          </div>
        </div>
      </mat-list>
    </div>
  </div>
</div>
