<div class="flexbox-item-grow fill-area fill-area-content question-container list">
  <div *ngIf="!(loadedInitially$ | async)" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <mat-tab-group [backgroundColor]="null" *ngIf="loadedInitially$ | async" (selectedTabChange)="selectChange($event)">
    <mat-tab label="Unanswered">
      <mat-card>
        <mat-card-title>Questions</mat-card-title>
        <div>
          <p>This tab is now inactive. Please use the following to ask Bhante questions:</p>
          <ol>
            <li>Live Q&A sessions on his <a href="https://www.youtube.com/c/yuttadhammo/videos" target="_blank">YouTube Channel <mat-icon>open_in_new</mat-icon></a>.</li>
            <li>Sirimangalo Q&A platform: <a href="https://ask.sirimangalo.org/" target="_blank">https://ask.sirimangalo.org/ <mat-icon>open_in_new</mat-icon></a></li>
          </ol>
        </div>
        <div *ngIf="(questionInfo$ | async )" class="info-note">{{ (questionInfo$ | async ) }}</div>
        <form [formGroup]="formQuestion" (submit)="sendQuestion($event)" *ngIf="showForm" class="question-form">
          <ul>
            <li>Please note that your question might already be answered here: <a href="http://video.sirimangalo.org/" target="_BLANK">Video Wiki</a> or <a href="http://www.sirimangalo.org/frequently-asked-meditation-questions/" target="_BLANK">FAQ</a>.</li>
            <li>Please make sure you've read the booklet <a href="http://htm.sirimangalo.org" target="_BLANK">How To Meditate</a> before asking a question.</li>
            <li>Please do not ask questions about other religious or spiritual practices unrelated to our tradition.</li>
            <li>Please do not ask questions that are speculative or unrelated to Buddhist practice in general.</li>
            <li>Please do not ask questions about the personal experiences or attainments of others.</li>
          </ul>
          <div class="flex row">
            <mat-form-field class="fill">
              <textarea
                matInput
                #question
                rows="5"
                name="inp-question"
                maxlength="1000"
                placeholder="Write your question here..."
                formControlName="question"
              ></textarea>
              <mat-hint align="end" *ngIf="question.value.length > 0">{{ question.value.length }} / 1000</mat-hint>
            </mat-form-field>
          </div>
          <question-suggestions [currentSearch]="currentSearch"></question-suggestions>
          <div>
            <button
              mat-raised-button
              (click)="showForm = false">
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!question.value">
              <mat-spinner *ngIf="posting$ | async" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner> Submit
            </button>
          </div>
        </form>
      </mat-card>

      <mat-list>
        <div *ngFor="let question of (unanswered$ | async)" class="question-row">
          <question-list-entry [question]="question" mode="unanswered"></question-list-entry>
        </div>
      </mat-list>
    </mat-tab>

    <mat-tab label="Answered">
      <mat-card>
        <div>
          <form (submit)="loadAnsweredQuestions('search')" class="flex answered-search">
            <mat-form-field class="fill">
              <input
                matInput
                placeholder="Search answered questions"
                name="search-text"
                [(ngModel)]="answeredSearch"
                [disabled]="(loadingAnswered$ | async) === 'search'"
              >
              <mat-hint>Submit by clicking on the search button or pressing ENTER</mat-hint>
            </mat-form-field>
            <button
              class="load-button"
              type="submit"
              title="Search"
              mat-mini-fab
              color="primary"
              [disabled]="(loadingAnswered$ | async) === 'search'"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button
              class="load-button"
              type="button"
              title="Toggle options"
              (click)="toggleSearchOptions()"
              mat-mini-fab
            >
              <mat-icon>tune</mat-icon>
            </button>
          </form>
        </div>

        <div class="search-params" [hidden]="!showSearchOptions">
          <mat-form-field>
            <mat-select
              [(ngModel)]="searchParams.sortBy"
              (selectionChange)="loadAnsweredQuestions('search')"
              name="sortBy"
              placeholder="Sort By"
            >
              <mat-option value="createdAt">date created</mat-option>
              <mat-option value="answeredAt">date answered</mat-option>
              <mat-option value="numOfLikes">number of likes</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              [(ngModel)]="searchParams.sortOrder"
              (selectionChange)="loadAnsweredQuestions('search')"
              name="sortOrder"
              placeholder="Sort Order"
            >
              <mat-option value="descending">descending</mat-option>
              <mat-option value="ascending">ascending</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox
            (change)="loadAnsweredQuestions('search')"
            [(ngModel)]="searchParams.linkOnly"
            name="linkOnly">
            Only show questions with link to answer
          </mat-checkbox>
        </div>
      </mat-card>

      <mat-list>
        <div *ngFor="let question of (answered$ | async)" class="question-row">
          <question-list-entry [question]="question" mode="answered"></question-list-entry>
        </div>
        <div *ngIf="!(loadingAnswered$ | async) && (answered$ | async).length === 0">
          <mat-list-item>No questions have been found for your search query.</mat-list-item>
        </div>
      </mat-list>

      <div>
        <mat-spinner *ngIf="(loadingAnswered$ | async)"></mat-spinner>
      </div>

      <button
        class="load-button"
        mat-raised-button
        color="primary"
        [disabled]="(loadingAnswered$ | async) !== false"
        (click)="loadAnsweredQuestions('more')"
        *ngIf="!(loadingAnswered$ | async) && !(noMorePages$ | async)"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
        LOAD MORE
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
