mat-divider
  margin-bottom: 20px

.question-row
  flex: 1

td
  vertical-align: top
  padding-top: 10px

  a
    font-weight: bold
    text-decoration: none

  p
    font-style: italic
    margin-top: 8px

.video-info
  padding-left: 10px

.thumbnail
  overflow: hidden

.thumbnail img
  margin: -15px 0
