<mat-card>
  <mat-card-title>Analytics</mat-card-title>

  <mat-tab-group (selectedTabChange)="changeTab($event)">
    <mat-tab label="Overview">
      <mat-spinner *ngIf="loadingA"></mat-spinner>

      <div *ngIf="!loadingA">
        <div *ngIf="users" class="analytics-list">
          <mat-card>
            <mat-card-title>{{ users.count }}</mat-card-title>
            <mat-card-subtitle>accounts</mat-card-subtitle>
          </mat-card>

          <mat-card>
            <mat-card-title>{{ users.admins.length }}</mat-card-title>
            <mat-card-subtitle>admins</mat-card-subtitle>
          </mat-card>

          <mat-card>
            <mat-card-title>{{ users.suspended.length }}</mat-card-title>
            <mat-card-subtitle>suspended</mat-card-subtitle>
          </mat-card>

          <mat-card>
            <mat-card-title>{{ users.inactive }}</mat-card-title>
            <mat-card-subtitle title="Haven't logged in since 90 days">inactive*</mat-card-subtitle>
          </mat-card>
        </div>

        <mat-divider></mat-divider>

        <h3>Admin Accounts</h3>
        <div *ngIf="!users || !users.admins">
          <mat-icon>not_interested</mat-icon>
          <span>Nothing found</span>
        </div>
        <mat-list *ngIf="users && users.admins">
          <a *ngFor="let user of users.admins" class="online-row"
          [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
            <mat-list-item>
              <user-avatar
                mat-list-avatar
                meditated-recently
                [user]="user"
                thumbnailSize="sm"
              ></user-avatar>
              <h3 mat-line>
                <b>{{ user.name }}</b>
                <flag [countryCode]="user.country"></flag>
              </h3>
            </mat-list-item>
          </a>
        </mat-list>

        <h3>Suspended Accounts</h3>
        <div *ngIf="!users || !users.suspended">
          <mat-icon>not_interested</mat-icon>
          <span>Nothing found</span>
        </div>
        <mat-list *ngIf="users && users.suspended">
          <a *ngFor="let user of users.suspended" class="online-row" [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
            <mat-list-item>
              <user-avatar
                mat-list-avatar
                meditated-recently
                [user]="user"
                thumbnailSize="sm"
              ></user-avatar>
              <h3 mat-line>
                <b>{{ user.name }}</b>
                <flag [countryCode]="user.country"></flag>
              </h3>
            </mat-list-item>
          </a>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Country & Timezone">
      <mat-spinner *ngIf="loadingB"></mat-spinner>

      <div *ngIf="!loadingB">
        <worldmap-chart [data]="countryChart.data"></worldmap-chart>

        <mat-divider></mat-divider>

        <h3>Top Timezones</h3>
        <div class="timezone-chart" *ngIf="timezoneChart.isReady">
          <p-chart
            type="pie"
            [data]="timezoneChart.data"
          ></p-chart>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="History">
      <mat-spinner *ngIf="loadingC"></mat-spinner>

      <div *ngIf="!loadingC">
        <mat-form-field>
          <mat-select placeholder="Timespan" (selectionChange)="changeHistoryTimespan($event)">
            <mat-option value="week" selected>Last Week</mat-option>
            <mat-option value="month">Last Month</mat-option>
            <mat-option value="year">Last Year</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="signup-chart">
          <p-chart
            *ngIf="signupChart.isReady"
            class="history"
            type="line"
            [data]="signupChart.data"
            [options]="signupChart.options"
          ></p-chart>
        </div>

        <div class="meditation-chart">
          <p-chart
            *ngIf="meditationChart.isReady"
            class="history"
            type="line"
            [data]="meditationChart.data"
            [options]="meditationChart.options"
            style="width: 600px; height: 400px;"
          ></p-chart>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
