.center
  text-align: center

a
  text-decoration: none

.hidden
  display: none !important

.commitment-info
  text-align: center
  margin: auto
  padding: 20px

.commitment-user-list
  .commitment-user-entry
    display: block
    float: left
    margin-right: -9px
    position: relative
    border: 3px solid white
    border-radius: 40px
    width: 40px
    height: 40px

.other-users
  border: 2px solid #ccc;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 13px;
  color: rgba(0,0,0,.7);
  margin-top: 2px

  /deep/ .mat-button-wrapper
    top: -1px
    position: relative

.clearfix::after
  content: ''
  display: table
  clear: both

.z-index-1
  z-index: 1
.z-index-2
  z-index: 2
.z-index-3
  z-index: 3
.z-index-4
  z-index: 4
.z-index-5
  z-index: 5
.z-index-6
  z-index: 6
.z-index-7
  z-index: 7
.z-index-8
  z-index: 8
.z-index-9
  z-index: 9
