<div class="flexbox-item-grow fill-area-content list">

  <div *ngIf="!loadedInitially" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngFor="let commitment of commitments">
    <mat-card-title>{{ commitment.minutes }} minutes of {{ commitment.type }} meditation</mat-card-title>
    <mat-card-subtitle *ngIf="subscribedCommitments.hasOwnProperty(commitment._id)">
      You've reached {{ subscribedCommitments[commitment._id].reached }}%.
    </mat-card-subtitle>

    <p>
      <button
        mat-raised-button
        color="primary"
        (click)="commit($event, commitment)"
        *ngIf="!(committed(commitment) | async)"
      >
        COMMIT
      </button>

      <button
        mat-raised-button
        color="warn"
        (click)="uncommit($event, commitment)"
        *ngIf="(committed(commitment) | async)"
      >
        UNCOMMIT
      </button>
    </p>

    <div class="commitment-user-list clearfix" [class.hide-all]="!showAll(commitment)">
      <ng-container *ngFor="let user of commitment.users; let i = index">
        <div
          *ngIf="user.isActive"
          class="commitment-user-entry z-index-{{ 7 - i }}"
          [class.hidden]="i > 7 && !showAll(commitment)"
          [class.show-btn]="i == 7 && !showAll(commitment)"
        >
          <a *ngIf="i != 7 || showAll(commitment)" [routerLink]="user.user.username ? ['/profile', user.user.username] : ['/profile/id', user.user._id]">
            <user-avatar [user]="user.user" thumbnailSize="sm"></user-avatar>
          </a>
          <button
            mat-icon-button
            class="other-users"
            *ngIf="i == 7 && !showAll(commitment)"
            matTooltip="Show all users."
            (click)="doShow(commitment)"
          >
          +{{ commitment.users.length - i }}
          </button>
        </div>
      </ng-container>
    </div>
  </mat-card>

  <p class="commitment-info">The calculation for daily commitments is based on the last 10 days. The public list only shows commitments of users that have a meditation logged in the past 3 days (for daily commitments) or 7 days (for weekly commitments).</p>
</div>
