<mat-card>
  <mat-card-title>Testimonials</mat-card-title>
  <mat-card-subtitle>Please use this page to submit a testimonial about your meditation course.</mat-card-subtitle>
  <form (submit)="sendTestimonial($event)" *ngIf="showForm" class="testimonial-form">
    <mat-divider></mat-divider>
    <div>
      <div class="flex row">
        <mat-form-field class="fill">
          <textarea
            matInput
            matTextareaAutosize
            rows="10"
            name="inp-testimonial"
            [(ngModel)]="currentTestimonial"
            placeholder="Write your testimonial..."
          ></textarea>
        </mat-form-field>
      </div>
      <a (click)="showEmojiSelect()" class="emoji-btn">
        <mat-icon>tag_faces</mat-icon>
      </a>
    </div>
    <div>
      <mat-checkbox
        name="inp-anonymous"
        [(ngModel)]="currentIsAnonymous"
      >
        Don't show my name publicly
      </mat-checkbox>
    </div>
    <div>
      <button
        mat-raised-button
        (click)="toggleShowForm($event)">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!currentTestimonial || loading">
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner> Submit
      </button>
    </div>
  </form>
  <div [hidden]="showForm || !allowUser">
    <button
      mat-raised-button
      color="primary"
      (click)="toggleShowForm()">
      Submit new testimonial
    </button>
  </div>

  <div [hidden]="allowUser">
    <mat-divider></mat-divider>
    <div class="info-msg">You've already submitted your testimonial.</div>
  </div>
</mat-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials list" (scroll)="scroll()">
  <mat-list>
    <div *ngFor="let testimonial of testimonials" class="testimonial-row">
      <user-text-list-entry
        [user]="testimonial.user"
        [date]="testimonial.createdAt"
        [text]="testimonial.text"
        [timeAgo]="false">
      </user-text-list-entry>
      <mat-divider class="testimonial-divider"></mat-divider>
    </div>
  </mat-list>
</div>
