<mat-card>
  <mat-checkbox [(ngModel)]="showOnlyUnreviewed">Show unreviewed only</mat-checkbox>
</mat-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials list">
  <mat-list>
    <user-text-list-entry
      *ngFor="let testimonial of testimonials"
      [hidden]="showOnlyUnreviewed && testimonial.reviewed"
      [user]="testimonial.user"
      [date]="testimonial.createdAt"
      [text]="testimonial.text"
      [timeAgo]="false"
    >
      <p mat-line class="button-area">
        <mat-checkbox
          [(ngModel)]="testimonial.reviewed"
          (change)="toggleReviewed(testimonial)">
          Reviewed
        </mat-checkbox>
        <button
          mat-raised-button
          title="Delete testimonial"
          mat-icon-button
          color="warn"
          (click)="delete($event, testimonial)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </p>
      <mat-divider class="testimonial-divider"></mat-divider>
    </user-text-list-entry>
  </mat-list>
</div>
