<mat-list-item>
  <user-avatar
    *ngIf="isRecognizedUser"
    class="cursor-pointer"
    [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]"
    mat-list-avatar
    [user]="user"
    thumbnailSize="sm"
  ></user-avatar>
  <user-avatar
    *ngIf="!isRecognizedUser"
    mat-list-avatar
    thumbnailSize="sm"
  ></user-avatar>

  <h3 mat-line>
    <b *ngIf="isRecognizedUser" class="name">
      <a [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
        {{ user.name }}
        <small class="username" *ngIf="user.username">@{{ user.username }}</small>
      </a>
    </b>
    <b *ngIf="!isRecognizedUser" class="name">
        {{ user ? user.name : 'Deleted User' }}
        <small class="username" *ngIf="user && user.username">@{{ user.username }}</small>
    </b>
    <flag [countryCode]="user?.country"></flag>
    <mat-icon class="edit-icon" *ngIf="edited" title="This post has been edited.">edit</mat-icon>
    <span class="fill"></span>
    <span class="time" *ngIf="timeAgo">
      {{ date | amTimeAgo }}
    </span>
    <span class="time" *ngIf="!timeAgo">
      {{ date | date }}
    </span>
  </h3>
  <p mat-line>
    <span class="text" [innerHTML]="text|emoji|linky:{twitter:false}|mentions"></span>
  </p>

  <ng-content mat-line></ng-content>
</mat-list-item>
