flag
  margin-left: 5px
  margin-right: 5px


.username
  opacity: .5

user-avatar[mat-list-avatar]
  min-width: 40px
  min-height: 40px
  margin-top: 11px
  border: 3px solid transparent

p[mat-line]
  white-space: normal

h3 a
  text-decoration: none
  color: black

.time
  position: relative
  top: 3px
  opacity: .5
  font-size: 12px

.text /deep/ [class*=e1a-]
  padding-top: 5px
  font-size: 25px

.name
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.text
  word-wrap: break-word
  white-space: pre-wrap
  margin-top: 5px
  width: 100%

.date
  opacity: .5
  font-size: 12px

.mat-list-item .mat-line
  display: flex
  padding-top: 0
  overflow: hidden

mat-form-field /deep/ .mat-input-wrapper
  margin: 16px 0 22px 0

mat-list-item /deep/ h3
  margin-top: 5px

.mat-list-item
  min-height: 75px
  height: auto !important

mat-list-item /deep/ .mat-list-item-content
  min-height: 75px
  height: auto !important
  position: relative
  -webkit-box-align: flex-start !important
  -ms-flex-align: flex-start !important
  align-items: flex-start !important

mat-list-item /deep/ .mat-list-text
  min-height: 72px
  padding-top: 10px !important
  padding-bottom: 10px !important

.edit-icon
  position: relative
  top: 2px
  width: 15px
  height: 15px
  font-size: 13px

