mat-panel-title
  align-items: center

mat-panel-description
  align-items: center

h3 a
  color: black
  text-decoration: none

.notification-absence
  background: #ffffcc
  font-weight: bold
  font-size: 18px

.info-heading
  font-weight: bold
  margin-top: 2em
