<mat-tab-group #tabGroup color="primary" backgroundColor="primary" (selectedIndexChange)="navigate($event)" mat-stretch-tabs>
  <mat-tab label="INFORMATION">
    <mat-card>
      <mat-card-title>Information</mat-card-title>

      <p>The at-home meditation course is for those practicing daily who would like to undertake a formal meditation course online from home. This course is also open to those who would like to learn to meditate.</p>
      <p>The course usually lasts between 12-14 weeks.</p>
      <p class="info-heading">Expectations for the course:</p>
      <ul>
        <li>Read the <a href="https://htm.sirimangalo.org/" target="_blank">How to Meditate booklet</a> before the first appointment.</li>
        <li>
          During the course:
          <ul>
            <li>Do at least an hour of meditation per day (half walking and half sitting).</li>
            <li>Keep the <a href="https://www.sirimangalo.org/text/how-to-meditate/chapter-six-daily-life/" target="_blank">5 precepts</a>.</li>
            <li>Meet with the teacher once a week.</li>
          </ul>
        </li>
        <li>Gradually work towards meditating two hours per day by the end of the course.</li>
      </ul>
      <p class="info-heading">During meetings with the teacher:</p>
      <ul>
        <li>Tell the teacher about your experiences in terms of the <a href="https://www.sirimangalo.org/text/how-to-meditate/chapter-one-what-is-meditation/" target="_blank">four satipatthana</a> and how you noted them or if you forgot to note them.</li>
        <li>Do not discuss your life story or offer opinions that are not directly related to the practice.</li>
        <li>The teacher will ask you questions as needed.</li>
        <li>The teacher will give you new exercises (at times illustrated using videos/pictures).</li>
        <li>You will also get an opportunity to ask questions of the teacher.</li>
      </ul>
      <p class="info-heading">Signing up for the course:</p>
      <ul>
        <li>To sign up for the course, please visit <a [routerLink]="['/course', { tab: 'schedule' }]">the schedule page</a>.</li>
        <li>There might be multiple teachers who offer appointment slots, but you can only reserve one slot in total. Use the dropdown to switch to another teacher.</li>
      </ul>
      <p class="info-heading">Before your first appointment:</p>
      <ul>
        <li>Read all of the <a href="https://gitlab.com/sirimangalo/meditation-plus/-/wikis/Appointments" target="_blank">instructions in the Wiki</a> for starting the call.</li>
        <li>You will need to signup at Discord. Please use the following invite link to join the server: <a href="https://discord.gg/DYNamMF6Kg" target="_blank">https://discord.gg/DYNamMF6Kg</a></li>
        <li>You will need working headphones and a microphone (video camera is not required).</li>
        <li>Please check that the schedule shows times in your timezone. You can customize your timezone in the <a [routerLink]="['/profile']">profile settings</a>.</li>
      </ul>
      <p class="info-heading">For your weekly meetings:</p>
      <ul>
        <li>When the time for your meeting arrives, go to Discord and join the waiting room.</li>
        <li>Notify your teacher via the text channel if they don't approach you in time.</li>
        <li>Initiate the appointment yourself. You will not receive a call from the teacher.</li>
        <li>If you miss an appointment without notifying the teacher, your reservation will be cancelled.</li>
      </ul>
    </mat-card>>
  </mat-tab>

  <mat-tab label="SCHEDULE">
    <mat-card class="first-card">
      <mat-card-title>Schedule for At-Home Meditation Course (Free)</mat-card-title>
      <mat-card-content
        *ngIf="meetingPageDisabledFrom && meetingPageDisabledTo"
        class="notification-absence"
      >
        Online course meetings are not occurring between {{ meetingPageDisabledFrom }} and {{ meetingPageDisabledTo }}.<br>
        The meetings will resume on {{ meetingPageReactivatedAt }}. Please plan accordingly, thank you.
      </mat-card-content>

      <mat-card-content
        *ngIf="disableAppointments && !meetingPageDisabledTo"
        class="notification-absence"
      >
        Online course meetings are currently not possible. Thank you for your understanding.
      </mat-card-content>

      <mat-card-content
        *ngIf="!(disableAppointments && !meetingPageDisabledTo) && !(meetingPageDisabledFrom && meetingPageDisabledTo)"
      >
        <appointment-schedule></appointment-schedule>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
