@import "mixins"
@import "variables"

.progress
  flex: 1
  -webkit-flex: 1 auto
  position: relative
  top: -59px
  opacity: .6

.progress i
  font-size: 25px

.status
  width: 200px
  display: flex
  margin: auto
  text-align: center
  margin-top: 30px
  margin-bottom: 30px

.status-single
  width: 100px

.status img
  height: 20px

.walking
  margin-left: -6px

  .progress
    margin-bottom: -3px

.sitting
  margin-left: 12px

.walking.no-padding, .sitting.no-padding
  margin-left: 0

.walking, .sitting
  .mat-progress-spinner
    margin-top: 10px

.time-done
  opacity: 0.5

.time-left
  font-size: 35px

.own-meditation
  display: flex
  justify-content: center
  flex-direction: column

  @media screen and (min-width: $md)
    flex-direction: row

.timer
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  @media screen and (min-width: $md)
    margin-left: 80px

  @media screen and (min-width: $md)
    order: 2

.meditators
  display: flex
  justify-content: center
  margin-bottom: 50px

  @media screen and (min-width: $md)
    order: 1

  $avatar-size-sm = 50px
  $avatar-size-md = 60px
  $avatar-size-lg = 60px

  &__circle
    on-circle(8, 200px, $avatar-size-sm)
    margin: 40px

    @media screen and (min-width: $md)
      on-circle(8, 300px, $avatar-size-md)
      margin: 50px 0

    @media screen and (min-width: $lg)
      on-circle(8, 400px, $avatar-size-lg)
      margin: 50px

  &__profile-img
    width: $avatar-size-sm
    height: $avatar-size-sm
    border-radius: $avatar-size-sm

    &--own
      @media screen and (max-width: $md - 1)
        margin-left: -2px

    &--others
      border: 2px solid $gray-000;
      margin-left: 20px
      font-weight: bolder
      font-size: 13px
      opacity : 0.7
      margin-top: 2px
      position: relative
      top: 4px;
      left: -20px
      transform: scale(1.15)
      display: flex
      align-items: center
      justify-content: center
      cursor: default

    @media screen and (min-width: $md)
      width: $avatar-size-md
      height: $avatar-size-md
      border-radius: $avatar-size-md

    @media screen and (min-width: $lg)
      width: $avatar-size-lg
      height: $avatar-size-lg
      border-radius: $avatar-size-lg

  ::ng-deep &__own-session-tip
    position: relative
    left: 3px
