mat-list-item [mat-line]
  display: flex
  padding-top: 0
  overflow: hidden

.load-more-separator
  border-bottom: 2px dashed #009688
  display: block
  position: relative

  &:after
    left: calc(50% - 95px / 2)
    content: "OLDER MESSAGES"
    position: absolute
    bottom: -11px
    font-size: 10px
    text-transform: uppercase
    color: grey
    text-align: center
    background: #f8fcfc
    padding: 5px

mat-list-item
  position: relative
  display: block

.menu-open
  display: block
  background-color: rgba(0, 150, 136, .6)

.hide
  position: absolute
  top: 0
  left: 50%
  width: 0
  height: 0
  visibility: hidden

flag
  margin-left: 5px
  margin-right: 5px

[mat-list-avatar]
  min-width: 40px
  min-height: 40px
  margin-top: 15px
  border: 3px solid transparent

p[mat-line]
  white-space: normal !important

.meditated-recently
  border-color: #60992d

h3 a
  text-decoration: none
  color: black

.chat-text
  word-wrap: break-word
  margin-top: 5px
  width: 100%

.chat-text-deleted
  opacity: .5

.chat-time
  position: relative
  top: 3px
  opacity: .5
  font-size: 12px

.chat-text /deep/ [class*=e1a-]
  padding-top: 5px
  font-size: 25px

.chat-name
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
